EMAIL_HOST
EMAIL_PORT
SMTP_USER
SMTP_PASSWORD
SENDER_EMAIL
SENDGRID_API_KEY

JWT_SECRET
PORT
MONGO_URI
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI

FRONTEND_URL

GOOGLE_GENAI_API_KEY
SEARCH_ENGINE_KEY
SEARCH_ENGINE_CX
SERPER_API_KEY
YOUTUBE_API_KEY

GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET
GITHUB_REDIRECT_URI

AWS_REGION
AWS_S3_BUCKET
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY

CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET